<a href="/">Home</a><br>
<a href="/about/">About</a>


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro - about</title>
	</head>
	<body>
		<h1>Who the f*ck is Bas</h1>
		<h2>Astroboy</h2>
			<p> I am a 20 year old student from the Belgium. I am currently studying DEVINE at Howest Kortrijk. I am a big fan of the web and everything that has to do with it. I am also a big fan of music and I love to play/watch sports.
			</p>
	
	</body>
</html>
