<a href="/">Home</a><br>
<a href="/about/">About</a>


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Bassie's Epic Blog</h1>
		<h2>7 November 2023 - 9u12</h2>
			<p>Today I learned that Astro is pretty cool. What can you do with it? 
			Well, you can do this. This is a blogpost, written in Markdown, and made with Astro.
			</p>
		<h2>7 November 2023 - 9u44</h2>
			<p>I published it with Netlify. It's pretty cool. I like it. I'm going to use it for my blog :)
			</p>
	</body>
</html>
